:root {
    /*--primary-color: #007bff;*/
    /*--secondary-color: #6c757d;*/
    --background-color: #282A2F;
    --main-text-color: #ffffff;
    --secondary-text-color: #848484;
    --danger-color: #F00;

    /* Шрифты */
    --main-font: 'SF Pro Display', sans-serif;
    /*--main-font: 'Roboto', sans-serif;*/
    /*--heading-font: 'Arial Black', sans-serif;*/

}

@font-face {
    font-family: 'SF Pro Display';
    src: url( '/fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro-Display-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}


body, p, h1, h2, h3, h4, h5, h6, button{
    font-family: var(--main-font);
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
}

/*h1, h2, h3 {*/
/*    font-weight: 700;*/
/*}*/

p button{
    font-weight: 400;
}
/* Пример использования */
/*.bg-primary-custom {*/
/*    background-color: var(--primary-color) !important;*/
/*}*/

/*.text-primary-custom {*/
/*    color: var(--primary-color) !important;*/
/*}*/

/*body {*/
/*    font-family: var(--main-font);*/
/*    background-color: var(--background-color);*/
/*}*/
